<div id="edit-password" v-cloak>
  <div class="container">
    <h1>Изменить пароль</h1>
    <hr/>
    <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Новый пароль</label>
            <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="formErrors.password">Пожалйста, введите пароль или выберите "Отмена".</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Подтвердить пароль</label>
            <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="••••••••">
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">Введённые пароли не совпадают.</div>
          </div>
</div>
        </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError">Во время обработки вашего запроса произошла ошибка. Проверьте информацию и повторите попытку или <a href="/contact">свяжитесь с тех. поддержкой</a> if the error persists.</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Отмена</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Сохранить изменения</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
