<div id="privacy">
  <div class="container">
    <h1>Политика конфиденциальности</h1>
    <hr/>
    <h3>Общая информация</h3>

    <p>Мы верим, что вы хороший человек, но мы следим за вами.</p>

    <p>Как-то так.</p>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
