<div id="terms">
  <div class="container">
    <h1>Соглашение</h1>

    <p>Зарегристрировавшись в этой программе я обещаю вести себя хорошо. </p>

    <p>Это общий смысл того, что тут было на английском.</p>

    <h3>1. Услуги</h3>

    <p>А это адрес сайта <%= sails.config.custom.baseUrl %></p>

    <h3>2. Учётная запись</h3>

    <p></p>

    <p></p>

    <h3>3. Тарифы</h3>

    <p></p>

    <h3>4. Прекращение</h3>

    <p></p>

    <h3>5. Права на интеллектуальную собственность</h3>

    <p></p>

    <h3>6. Отказ от ответственности и ограничение ответственности</h3>

    <p>УСЛУГИ ПРЕДОСТАВЛЯЮТСЯ «КАК ЕСТЬ» И МЫ ЯВНО ОТКАЗЫВАЕМСЯ ОТ ВСЕХ ГАРАНТИЙ, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ.</p>

    <p></p>

    <h3>7. Общие положения</h3>

    <p> </p>

    <p></p>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
