<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Электронный адрес подтверждён</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Поздравляем, ваша учетная запись теперь проверена! Теперь у вас есть полный доступ к вашей учетной записи.</p>
      <p><a class="btn btn-outline-info" href="/">К панели управления</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
