<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Восстановление пароля</h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Введите адрес вашей электронной почты чтобы переустановить пароль.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="adres@email.ru" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Пожалуйста, введите правильный адрес электронной почты.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Во время обработки вашего запроса произошла ошибка. Проверьте информацию и повторите попытку или <a href="/contact">свяжитесь с тех. поддержкой</a> if the error persists.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Отправить</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Назад ко входу</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>Вам отправлена ссылка для изменения вашего пароля.</p>
      <hr/>
      <p>Если сообщение не поступит через несколько минут, попробуйте проверить папку со спамом. Если вы все еще не можете найти его, повторите попытку или <a href="/contact">свяжитесь с тех. поддержкой</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Назад ко входу</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
