<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Создать аккаунт</h1>
    <div class="signup-form">
      <p class="text-center">Давайте начнем! Это бесплатно и займет всего несколько минут.</p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Full name</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Пожалуйста, введите ваше полное имя.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Адрес электронной почты</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Пожалуйста, введите правильный адрес электронной почты.</div>
        </div>
        <div class="form-group">
          <label for="password">Выберите пароль</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Пожалуйста, введите пароль.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Подтвердите пароль</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Введённые пароли не совпадают.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">Я прочитал правила &amp; согласен с <a target="_blank" href="/terms">условиями использования</a>.</label>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Уже есть запись с таким адресом электронной почти. Если вы забыли свой пароль, вы можете его восстановить <a href="password/forgot">здесь</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Во время обработки вашего запроса произошла ошибка. Проверьте информацию и повторите попытку, или <a href="/support">свяжитесь с тех. поддержкой</a> if the error persists.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Создать аккаунт</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">Уже есть аккаунт? <a href="/login">Войти</a></p>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">Проверьте ваш адрес электронной почты!</h1>
    <div class="success-message">
      <hr/>
      <p>Ваша учетная запись почти готова. Все, что вам нужно сделать, это нажать ссылку, которая отправлена <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(Теперь вы можете получить доступ к своей панели управления, но некоторые функции будут недоступны, пока мы не проверим ваш адрес электронной почты.)</p>
      <p><a class="btn btn-outline-info" href="/">Перейти к панели управления.</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
