<div id="contact" v-cloak>
<div class="container">
  <h1 class="text-center">Контакты</h1>
  <div class="contact-form" v-if="!cloudSuccess">
  <p class="text-center">Тут должен быть номер телефона или другой способ связи.</p>
<hr/>
</div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
